:root {
    --spacingContainerPadding: .5rem;
    --spacingContainerGap: 1rem;
    --spacingInputPadding: .5rem;
    --spacingFrameOffsetPadding: 2rem;

    --colorPrimary: rgb(26, 0, 0);
    --colorSecondary: #b1d8ff;
    --colorSuccess: #148114;
    --colorSuccessBg: #70c570;
    --colorError: #c71717;
    --colorErrorBg: #fbd2d2;

    --inputBorderRadius: .25rem;

    --sizeContentFrameWidth: 90rem;
}

body {
    margin: 0;
}

.Header {
    display: flex;
    background-color: var(--colorSecondary);

    &-frame {
        width: var(--sizeContentFrameWidth);
        margin-inline: auto;
        padding-inline: var(--spacingFrameOffsetPadding);
    }
}

.Frame {
    width: var(--sizeContentFrameWidth);
    margin-inline: auto;
    padding-inline: var(--spacingFrameOffsetPadding);
    padding-block: {
        start: var(--spacingFrameOffsetPadding);
        end: calc(var(--spacingFrameOffsetPadding) * 2);
    };
}

.Form {
    display: flex;
    padding: var(--spacingContainerPadding);

    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: .5rem;
    }

    button {
        display: inline-flex;
        width: max-content;
    }
}

.FormElement {
    $block: &;
    position: relative;
    display: flex;
    flex-direction: column;

    .errors {
        display: none;
        flex-direction: column;
        padding: var(--spacingContainerPadding);
        margin-top: .25rem;
        background-color: var(--colorErrorBg);
        border: 1px solid var(--colorError);
        border-radius: var(--inputBorderRadius);

        p {
            color: var(--colorError);
            margin: .2rem;
            opacity: 7;
        }
    }

    &-innerContainer {
        position: relative;
        display: flex;
        align-items: center;

        &:after {
            display: none;
            position: absolute;
            right: .5rem;
            width: 1rem;
            height: 1rem;
        }

        input {
            width: 100%;
            height: 100%;
            padding: var(--spacingInputPadding);
            border-radius: var(--inputBorderRadius);
            outline: unset;
            border-style: groove;
        }
    }

    &.invalid {
        #{$block}-innerContainer {
            &:after {
                display: block;
                font: var(--fa-font-solid);
                content: "\f057";
                color: var(--colorError);
            }

            input {
                border-color: var(--colorError);
            }
        }

        label {
            color: var(--colorError);
        }

        .errors {
            display: flex;
        }
    }

    &.valid {
        #{$block}-innerContainer {
            &:after {
                display: block;
                font: var(--fa-font-regular);
                content: "\f058";
                color: var(--colorSuccess);
            }

            input {
                border-color: var(--colorSuccess);
            }
        }

        label {
            color: var(--colorSuccess);
        }
    }

    label {
        margin-bottom: .25rem;
        font-weight: bold;
    }
}

.WeatherHistory {
    display: flex;
    flex-direction: row;
    column-gap: var(--spacingContainerGap);

    &-chart {
        height: 30rem;

        canvas {
            width: 100%;
            height: 100%;
        }
    }

    &-location {
        h2 {
            margin-bottom: .5rem;
        }

        h5, h6 {
            margin: 0;
        }
    }
}